<div class="py-15">
  <span>Record(s) per page: </span>
<input
  type="number"
  [(ngModel)]="numberOfRows"
  min="10"
  max="100"
  (keyup)="calculateTotalPages(true)"
/>
</div>
<div class="table-container py-5">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Company</th>
        <th>Date Entry</th>
        <th>Org. No.</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip</th>
        <th>Geo</th>
        <th>Pan</th>
        <th>Pin</th>
        <th>Id</th>
        <th>Status</th>
        <th>Fee</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of displayDataList;">
        <td>{{ row.name }}</td>
        <td nowrap>{{ row.phone }}</td>
        <td [title]="row.email" class="pointer">
          {{
            row.email.length > 10 ? row.email.substr(0, 20) + "..." : row.email
          }}
        </td>
        <td>{{ row.company }}</td>
        <td nowrap>{{ row.date_entry | date}}</td>
        <td nowrap>{{ row.org_num }}</td>
        <td>{{ row.address_1 }}</td>
        <td>{{ row.city }}</td>
        <td>{{ row.zip }}</td>
        <td>{{ row.geo }}</td>
        <td>{{ row.pan }}</td>
        <td>{{ row.pin }}</td>
        <td>{{ row.id }}</td>
        <td>{{ row.status }}</td>
        <td>{{ row.fee }}</td>
        <td><button (click)="submitRowStatus(row.id)">Submit</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="16">
          <span class="px-5 pointer">
            <button (click)="previousPage()"><</button>
          </span>
          <input type="text" [ngModel]="currentPageNo" /> of {{ totalNumberOfPages }}
          <span class="px-5 pointer">
            <button (click)="nextPage()">></button>
          </span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
