<div class="py-15">
  <cdk-virtual-scroll-viewport itemSize="30" style="height: 200px; width: 100%;">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Company</th>
          <th>Date Entry</th>
          <th>Org. No.</th>
          <th>Address</th>
          <th>City</th>
          <th>Zip</th>
          <th>Geo</th>
          <th>Pan</th>
          <th>Pin</th>
          <th>Id</th>
          <th>Status</th>
          <th>Fee</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody style="width: 100%">

        <tr *cdkVirtualFor="let row of dataList;">
          <td>{{row.id }} {{ row.name }}</td>
          <td nowrap>{{ row.phone }}</td>
          <td [title]="row.email" class="pointer">
            {{
              row.email.length > 10 ? row.email.substr(0, 20) + "..." : row.email
            }}
          </td>
          <td>{{ row.company }}</td>
          <td nowrap>{{ row.date_entry | date}}</td>
          <td nowrap>{{ row.org_num }}</td>
          <td>{{ row.address_1 }}</td>
          <td>{{ row.city }}</td>
          <td>{{ row.zip }}</td>
          <td>{{ row.geo }}</td>
          <td>{{ row.pan }}</td>
          <td>{{ row.pin }}</td>
          <td>{{ row.id }}</td>
          <td>{{ row.status }}</td>
          <td>{{ row.fee }}</td>
          <td><button (click)="submitRowStatus(row.id)">Submit</button></td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
