body {
  margin: 0;
  font: normal 12px Verdana, Geneva, Tahoma, sans-serif;
}

li {
   display:block;
   float:left;
   padding-right: 10px;
}

.border-bottom {
  border-bottom: 1px solid #034f84;
  width: 100%;
}

