<div class="main-container">
  <div class="navigation">
    <ul>
      <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a> </li>
      <li><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a> </li>
    </ul>
  </div>
  <br />
  <div class="border-bottom"></div>
  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>
