/* You can add global styles to this file, and also import other style files */
.table-container {
  max-width: 100%;
  max-height: 500px;
  overflow-y: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: auto;
  color: #878f99;
}

.pointer {
  cursor: pointer;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

thead {
  color:#fff;
  background: #878f99

}

tbody {
  color:rgb(41, 41, 51);
}

tfoot {
  color:#fff;
}

table, th, td {
  border: 1px solid #878f99;
  border-spacing: 0;
}

.fixed_header tbody {
  display:block;
  overflow:auto;
  height:200px;
  width:100%;
}

.fixed_header thead tr {
  display:block;
}

table {
  width: 100%
}

tfoot tr {
  position: relative;
  background: #878f99;


  & input {
    width: 13px;
    border: none;
    background: transparent;
    color: #fff;
  }
}

tfoot tr {
  top: 525px;
  width: 100%;
}

th, td {
  font-size: 12px;

  & button {
    background: #6b5b95;
    color: #fff;
  }
}
